.mark-previous-as-read {
  padding-inline: 10px;
  flex-shrink: 1 !important;
}
.mark-previous-as-read a {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.mark-previous-as-read-to-fill {
  fill: currentColor;
}

.mark-previous-as-read-settings {
  margin-left: 0 !important;
}

.mark-previous-as-read-settings label {
  display: flex;
  align-items: flex-start;
  max-width: 500px;
}

.mark-previous-as-read-settings label input[type="checkbox"] {
  margin-right: 10px;
}
